# Project information
site_name: BOSAGORA BizNet 문서
site_url: https://bosagora.github.io/docs-biznet/kr/
site_author: BOSAGORA
docs_dir: "../../source/kr"
site_dir: "../../docs/kr"

# Repository
repo_name: bosagora/docs-biznet
repo_url: https://github.com/bosagora/docs-biznet
edit_uri: ""

# Copyright
copyright: Copyright &copy; 2022 BOSAGORA

# Configuration
theme:
  name: material
  custom_dir: "../../overrides/"
  logo: assets/favicon.ico
  favicon: assets/favicon.ico
  language: kr

  features:
    - content.code.annotate
    - content.tabs.link
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest

# Customization
extra:
  alternate:
    - name: English
      link: /en/
      lang: en
    - name: 한국어
      link: /kr/
      lang: kr
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/bosagora1
    - icon: fontawesome/brands/facebook
      link: https://facebook.com/BOSAGORA
    - icon: fontawesome/brands/medium
      link: https://medium.com/bosagora
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCjcTwkskyTmAwHpqv9Oynig
    - icon: fontawesome/brands/github
      link: https://github.com/bosagora

plugins:
  - search:
      lang: kr

# Page tree
nav:
    - Home: index.md
    - BizNet:
        - 소개: biznet/introduction.md
        - 컨센서스 엔진: biznet/consensus.md
        - 개발:
            - BizNet 메인넷: biznet/develop/mainnet.md
            - BizNet 테스트넷: biznet/develop/testnet.md
            - BizNet 블록탐색기: biznet/develop/explorers.md
            - BizNet RPC: biznet/develop/rpc.md
            - 노드 운영:
                - 노드를 운영하는 방법: biznet/develop/running_node/node.md
                - 업그레이드 방법 : biznet/develop/running_node/upgrading.md
            - 스마트컨트랙트 배포:
                - Remix IDE: biznet/develop/deploy_smart_contract/remix.md
                - Truffle: biznet/develop/deploy_smart_contract/truffle.md
                - Hardhat: biznet/develop/deploy_smart_contract/hardhat.md
            - ERC20 토큰:
                - 토큰 소개: biznet/develop/token/intoroduction.md
                - 토큰 발행하기: biznet/develop/token/issue.md
            - NFT:
                - NFT 표준 매타데아타: biznet/develop/nft/metadata.md
                - NFT 배포: biznet/develop/nft/deploy.md
        - 월렛:
            - 가이드: biznet/wallet/guide.md
            - 키관리: biznet/wallet/key-management.md
            - 메타마스크: biznet/wallet/tutorials/metamask.md
